fastapi==0.79.0
uvicorn==0.18.3
transformers==4.21.0
requests==2.27.1
tf-keras==2.15.1
beautifulsoup4==4.10.0
langchain==0.0.156
langchain-community==0.0.3
langchainhub==0.1.21
langchain-chroma==0.0.3
langchain_google_genai==0.0.3
pinecone-client==2.1.2
sentence-transformers==2.2.2
langchain-pinecone==0.0.3
langgraph==0.3.0
