fastapi==0.95.1
uvicorn==0.22.0
transformers==4.33.0
requests==2.31.0
beautifulsoup4==4.12.2
langchain==0.0.301
langchain-community==0.0.5
langchainhub==0.0.4
langchain-chroma==0.0.3
langchain_google_genai==0.0.3
pinecone-client==2.2.1
sentence-transformers==2.2.2
langchain-pinecone==0.0.3
langgraph==0.0.6
